body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
}

body {
    margin: 0;
}

.full-height {
    text-align: center;
    background-color: #262625;
    background-image: url("../Assets/parallax_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    -moz-background-clip: border-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -moz-background-origin: padding-box;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    background-size: cover;
    height: 100%;
    position: relative;
}

.header-content {
    position: fixed;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 0;
    width: 100%;
}

.footer-wrapper {
    display: block;
    width: 100%;
    background-color: #e3dada;
    margin: 0;
    padding: 60px 0 60px;
}

.footer-content {
    display: table;
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    margin: 0 auto;
    color: #262625;
}


/*
 *  
 *    Nav stuff
 *
 */


.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 200;
    background: transparent;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}

.static-bar {
    background: #262625;
}

.menu-bar > ul {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

.menu-bar > ul > li {
    list-style-type: none;
    padding: 0;
    display: table;
}

.menu-bar > ul > li > a {
    display: table;
    color: #e3dada;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
}

.home-link {
    float: left;
    display: block;
}

    .home-link a {
        margin: 0;
        padding: 0 20px;
        color: #e3dada;
        white-space: nowrap;
        display: block;
        height: 60px;
        background-color: transparent;
        transition: background-color .3s, color .3s;
    }

    .home-link a span {
        display: table;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: relative;
        top: 30px;
    }

.home-link a:hover {
    color: #dc4f3c;
    background-color: transparent;
}

.menu-box {
    z-index: 400;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu-box > * {
    float: left;
}

.close-link {
    display: block;
    background: url("../Assets/exit_icon.png") no-repeat scroll;
    background-size: 50% 50%;
    background-position: 50% 50%;
    height: 60px;
    width: 60px;
}

.menu-box ul {
    padding: 0;
    margin: 0;
    margin-right: -169px;
    display: table;
    background-color: #262625;
    overflow: hidden;
    -webkit-transition: margin-right .3s .2s;
    -moz-transition: margin-right .3s .2s;
    -o-transition: margin-right .3s .2s;
    transition: margin-right .3s .2s;
}

.menu-box ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}

    .menu-box ul li a {
        text-align: left;
        text-decoration: none;
        color: #e3dada;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 4px;
        font-weight: 700;
        display: block;
        height: 60px;
        padding: 0 30px;
    }

    .menu-box ul li a span {
        display: table;
        white-space: nowrap;
        position: relative;
        top: 30px;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.menu-box ul li a::before {
    content: "";
}

.menu-box a {
    color: #e3dada;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.menu-box a:hover {
    color: #dc4f3c;
}

.toggle-link {
    background: url("../Assets/menu_icon.png") no-repeat scroll;
    background-size: 50% 50%;
    background-position: 50% 50%;
    height: 60px;
    width: 60px;
}


/*
 *  
 *    Square stuff
 *
 */


.scroll-link {
    float: left;
    margin: 0;
}

.scroll-link a {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: transparent;
    background-image: url(../Assets/triangle.png);
    background-position: center;
    background-size: auto 50%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.exit-link {
    float: right;
    margin: 0;
}

.exit-link a {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #dc4f3c;
    margin: 0;
    padding: 0;
}

    .exit-link a span {
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        height: 4px;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: transparent;
    }

.exit-link a span::before,
.exit-link a span::after {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #e3dada;
    content: "";
}

    .exit-link a span::before {
        left: 0;
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }

    .exit-link a span::after {
        right: 0;
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
    }


/*
 *  
 *    Hamburger stuff
 *
 */


.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 60px;
    font-size: 0;
    box-shadow: none;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: #dc4f3c;
}

.c-hamburger:focus {
    outline: none;
}

    .c-hamburger span {
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        height: 4px;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background: #e3dada;
    }

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #e3dada;
    content: "";
}

.c-hamburger span::before {
    top: -8px;
}

.c-hamburger span::after {
    bottom: -8px;
}

.c-hamburger--htla span {
    -webkit-transition: transform 0.3s, -webkit-transform 0.3s;
    -moz-transition: transform 0.3s, -moz-transform 0.3s;
    -o-transition: transform 0.3s, -o-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

    .c-hamburger--htla span::before {
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -ms-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right;
        -webkit-transition: transform 0.3s, -webkit-transform 0.3s, width 0.3s, top 0.3s;
        -moz-transition: transform 0.3s, -moz-transform 0.3s, width 0.3s, top 0.3s;
        -o-transition: transform 0.3s, -o-transform 0.3s, width 0.3s, top 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s, width 0.3s, top 0.3s;
    }

    .c-hamburger--htla span::after {
        -webkit-transform-origin: bottom right;
        -moz-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        -o-transform-origin: bottom right;
        transform-origin: bottom right;
        -webkit-transition: transform 0.3s, -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
        -moz-transition: transform 0.3s, -moz-transform 0.3s, width 0.3s, bottom 0.3s;
        -o-transition: transform 0.3s, -o-transform 0.3s, width 0.3s, bottom 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
    }

/* active state, i.e. menu open */

.c-hamburger--htla.active span {
    left: 15px;
    right: 15px;
    -moz-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    -o-transform: translateY(-50%) rotate(0deg);
    -webkit-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
}

.c-hamburger--htla.active span::before,
.c-hamburger--htla.active span::after {
    width: 50%;
}

    .c-hamburger--htla.active span::before {
        top: 0;
        -webkit-transform: translateX(16px) translateY(2px) rotate(45deg);
        -moz-transform: translateX(16px) translateY(2px) rotate(45deg);
        -ms-transform: translateX(16px) translateY(2px) rotate(45deg);
        -o-transform: translateX(16px) translateY(2px) rotate(45deg);
        transform: translateX(16px) translateY(2px) rotate(45deg);
    }

    .c-hamburger--htla.active span::after {
        bottom: 0;
        -webkit-transform: translateX(16px) translateY(-2px) rotate(-45deg);
        -moz-transform: translateX(16px) translateY(-2px) rotate(-45deg);
        -ms-transform: translateX(16px) translateY(-2px) rotate(-45deg);
        -o-transform: translateX(16px) translateY(-2px) rotate(-45deg);
        transform: translateX(16px) translateY(-2px) rotate(-45deg);
    }


/*
 *  
 *    Nav Actions
 *
 */ 


.c-hamburger--htla.active ~ ul {
    margin-right: 0;
}


/*
 *  
 *    Header stuff
 *
 */

.welcome-signature {
    width: 70%;
    max-width: 640px;
}

.welcome-message {
    margin: 40px auto 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    color: #e3dada;
}

.red-text {
    color: #dc4f3c;
}


/*
 *  
 *    Quick Nav
 *
 */ 


.quick-nav {
    margin: 60px auto 0;
    display: inline-table;
}

.quick-nav ul {
    margin: 0;
    padding: 0;
    display: table;
    overflow: hidden;
    list-style-type: none;
}

.quick-nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
    float: left;
}

.quick-nav ul li:not(:last-child) {
    margin-right: 90px;
}

.quick-nav ul li a {
    display: table;
    padding: 0;
    margin: 0;
    height: 55px;
    width: 55px;
    border-radius: 100%;
}

    .quick-nav .code-link {
        background: url("../Assets/code.png");
        background-size: 100%;
        background-position: left top;
        -webkit-transition: background-position.3s;
        -moz-transition: background-position.3s;
        -o-transition: background-position.3s;
        transition: background-position.3s;
    }

.quick-nav .code-link:hover {
    background-position: left bottom;
}

    .quick-nav .graphics-link {
        background: url("../Assets/graphic.png") no-repeat scroll;
        background-size: 100%;
        background-position: left top;
        -webkit-transition: background-position.3s;
        -moz-transition: background-position.3s;
        -o-transition: background-position.3s;
        transition: background-position.3s;
    }

.quick-nav .graphics-link:hover {
    background-position: left bottom;
}

    .quick-nav .music-link {
        background: url("../Assets/music.png") no-repeat scroll;
        background-size: 100%;
        background-position: left top;
        -webkit-transition: background-position.3s;
        -moz-transition: background-position.3s;
        -o-transition: background-position.3s;
        transition: background-position.3s;
    }

.quick-nav .music-link:hover {
    background-position: left bottom;
}


/*
 *  
 *    Body stuff
 *
 */ 


.page-content {
    position: relative;
    background-color: #e3dada;
    z-index: 100;
    height: auto;
    padding-top: 82px;
}

.profile {
    text-align: center;
    margin: 0;
    padding: 40px 0 184px;
}

.profile p {
    max-width: 870px;
    color: #262625;
    font-size: 28px;
    font-weight: 700;
    margin: 0 auto 60px;
}

.contact {
    text-align: center;
    margin: 0;
    padding: 120px 0 120px;
    background-color: #262625;
}

.contact p {
    max-width: 870px;
    color: #e3dada;
    font-size: 28px;
    font-weight: 700;
    margin: 0 auto 20px;
}

.contact p.call-to-action {
    font-weight: 300;
    margin: 0 auto 60px;
}

.button {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-table;
    color: #262625;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 30px 20px;
    border: 2px solid #262625;
    background-color: transparent;
    -moz-transition: color .3s, background-color .3s;
    -o-transition: color .3s, background-color .3s;
    -webkit-transition: color .3s, background-color .3s;
    transition: color .3s, background-color .3s;
}

.light-button {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-table;
    color: #e3dada;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 30px 20px;
    border: 2px solid #e3dada;
    background-color: transparent;
    -webkit-transition: color .3s, background-color .3s;
    -moz-transition: color .3s, background-color .3s;
    -o-transition: color .3s, background-color .3s;
    transition: color .3s, background-color .3s;
}

.light-button:hover {
    color: #262625;
    background-color: #e3dada;
}

.button:hover {
    color: #e3dada;
    background-color: #262625;
}

.indent {
    padding-left: 25px;
    display: inline-block;
}


/*
 *  
 *    Projects stuff
 *
 */


.projects-wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 2px solid #262625;
}

#projects-window {
    width: 100%;
    overflow: hidden;
}

#project-nav {
    margin: -61px auto 0;
    display: table;
}

#project-nav ul {
    margin: 0;
    padding: 0;
    display: table;
    list-style-type: none;
}

#project-nav ul li {
    margin: 0;
    padding: 0;
    display: table;
    float: left;
}

    #project-nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        display: table;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: #262625;
        background-color: transparent;
        padding: 20px 80px;
        -webkit-transition: color .3s, background-color .3s;
        -moz-transition: color .3s, background-color .3s;
        -o-transition: color .3s, background-color .3s;
        transition: color .3s, background-color .3s;
    }

#project-nav ul li a:hover {
    color: #e3dada;
    background-color: #dc4f3c;
}

#project-nav ul li a.active {
    color: #e3dada;
    background-color: #262625;
}

#projects-row {
    width: 300%;
    margin-left: 0;
    padding: 0;
    display: table;
    -webkit-transition: margin-left .3s .2s;
    -moz-transition: margin-left .3s .2s;
    -o-transition: margin-left .3s .2s;
    transition: margin-left .3s .2s;
}

.project-panel {
    width: 33.33%;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    float: left;
}

.project-list {
    clear: left;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    list-style-type: none;
}

    .project-list .project-item {
        margin: 0;
        padding: 40px 40px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        display: inline-table;
        overflow: hidden;
    }

.project-list .project-item .project-thumb {
    display: inline-block;
    background-image: url("http://tourisme-saintfelicien.fr/wp-content/themes/noeStarter/images/default.jpg");
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 40%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

        .project-list .project-item .project-desc {
            display: inline-block;
            vertical-align: top;
            padding-left: 20px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 60%;
            color: #262625;
            font-weight: 400;
            font-size: 16px;
            overflow: hidden;
            text-align: start;
        }

.project-list .project-item .project-desc .project-head {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0 0 20px;
    
}

.project-list .project-item .project-desc .project-head h1 {
    display: table;
    position: relative;
    padding: 0 5px 0 0;
    margin: 0;
    color: #262625;
    font-weight: 700;
    font-size: 24px;
}

.project-list .project-item .project-desc .project-head h1::after {
    position: absolute;
    width: 400px;
    height: 8px;
    top: 12px;
    left: 100%;
    border-top: 1px solid #262625;
    border-bottom: 1px solid #262625;
    content: "";
}

.project-list .project-item .project-desc .button {
    display: table;
    margin-top: 20px;
}


/*
 *  
 *    Project Content stuff
 *
 */


.project-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 40px;
}

.project-content-image,
.project-content-abstract {
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.project-content-image {
    height: 600px;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.project-content-abstract {
    overflow: hidden;
    vertical-align: top;
}

.project-content-abstract h1 {
    margin: 0 auto;
    padding: 0 10px 40px 10px;
    display: table;
    font-size: 32px;
    font-weight: 700;
    color: #262625;
    position: relative;
}

.project-content-abstract h1::before {
        content: "";
        position: absolute;
        display: block;
        height: 12px;
        border-top: 1px solid #262625;
        border-bottom: 1px solid #262625;
        right: 100%;
        top: 16px;
        width: 1200px;
    }

.project-content-abstract h1::after {
    content: "";
    position: absolute;
    display: block;
    height: 12px;
    border-top: 1px solid #262625;
    border-bottom: 1px solid #262625;
    left: 100%;
    top: 16px;
    width: 1200px;
}

.project-content-abstract p {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #262625;
    border-left: 2px solid #262625;
}

.project-content-bio {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.project-content-bio p {
    margin: 0;
    padding: 0;
    color: #262625;
}


/*
 *  
 *    Mobile stuff
 *
 */


@media (max-width: 1000px) {
    .header-content {
        top: 55%;
    }

    .welcome-signature {
        max-width: 400px;
    }

    .project-list .project-item .project-thumb,
    .project-list .project-item .project-desc {
        display: block;
        width: 100%;
    }

    .project-list .project-item .project-desc {
        margin-top: 20px;
        padding: 0;
    }
}


@media (max-width: 800px) {
    .full-height {
        background-attachment: scroll;
    }

    .header-content {
        position: absolute;
    }

    .welcome-message {
        font-weight: 400;
        font-size: 18px;
        margin-top: 20px;
    }

    .quick-nav {
        margin-top: 30px;
    }

    .quick-nav ul li:not(:last-child) {
      margin-right: 60px;
    }

    .quick-nav ul li a {
        height: 40px;
        width: 40px;
        background-size: 100% 100%;
    }

    .home-link {
        display: none !important;
    }

    .profile {
        padding: 20px 0 140px;
    }

    .profile p {
        max-width: 90%;
        font-size: 18px;
    }

    .contact p {
        font-size: 18px;
    }

    #project-nav {
        margin-top: -36px;
    }

    #project-nav ul li a {
        font-size: 12px;
        padding: 10px 25px;
    }

    .project-list .project-item {
        height: 200px;
    }

    .project-list .project-item .project-desc .project-head h1::before {
    position: absolute;
    width: 400px;
    height: 8px;
    top: 12px;
    right: 100%;
    border-top: 1px solid #262625;
    border-bottom: 1px solid #262625;
    content: "";
}

    .project-content-image {
        height: 300px;
    }

    .project-content-abstract h1 {
        font-size: 24px;
    }

    .project-content-abstract h1::before {
        height: 8px;
        top: 12px;
    }

    .project-content-abstract h1::after {
        height: 8px;
        top: 12px;
    }
}


@media (max-width: 600px) {
    .project-list .project-item {
        display: table;
        width: 100%;
    }

    .project-list .project-item:not(:last-child) {
        border-bottom: 2px solid #262625;
    }
}


@media (max-width: 400px) {
    .profile p {
        margin: 0 auto 30px;
    }

    .call-to-action {
        margin-bottom: 30px !important;
    }

    .button {
        font-size: 14px;
        padding: 20px 10px;
    }

    .light-button {
        font-size: 14px;
        padding: 20px 10px;
    }

    #project-nav ul li a {
        padding: 10px 15px;
    }
}


/*

    CSS for GS Page

*/


.gs-header {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px 20px 0;
    background: url(../Assets/poly-bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
}

.fp-header {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px 20px;
    background: url(../Assets/poly-bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
}

.gs-copyright {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.gs-footer {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    background: url(../Assets/poly-bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
}

.gs-header-text {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 300;
    margin: 0 auto 80px;
}

.fp-header-text {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 300;
    margin: 20px auto;
}

.gs-logo {
    height: 300px;
    width: 300px;
    margin: 0 auto 100px;
}

.fp-logo {
    width: 90%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

.gs-content {
    background: #ffffff;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.gs-nav {
    display: table;
    margin: 0 auto;
    padding: 0;
}

.gs-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gs-nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-table;
}

.gs-nav ul li:not(:last-child) {
    margin-right: 5px;
}

.gs-nav ul li a {
    padding: 20px 60px;
    font-size: 22px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
    display: table;
    background: rgba(255, 255, 255, .4);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gs-nav ul li a.active {
    background: rgba(255, 255, 255, 1);
}

.gs-nav ul li a:not(.active):hover {
    background: rgba(255, 255, 255, .6);
}

.gs-content > div {
    max-width: 900px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px 20px;
    margin: 0 auto;
    display: none;
}

.fp-content > div {
    width: 100%;
    max-width: 900px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 80px 20px;
    margin: 0 auto;
}

.gs-content div.active {
    display: block;
}

.gs-link {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
}

.gs-link:hover {
    color: #1f94a4;
}

.divider {
    width: 100%;
    height: 2px;
    background: #797979;
}

.function-table {
    display: table;
    width: 100%;
    border: 1px solid #797979;
    border-collapse: collapse;
    border-spacing: 0;
}

.function-table th, .function-table td {
    border: 1px solid #797979;
    text-align: center;
    padding: 15px 10px;
}

.function-table th {
    background: #e4e4e4;
}

.video-player {
    width: 100%;
    height: 500px;
    background: #000000;
}

@media (max-width: 800px) {
    .gs-nav ul li a {
        padding: 20px 30px;
    }
}

@media (max-width: 600px) {
    .gs-header-text {
        font-size: 38px;
        font-weight: 400;
        margin: 0 auto 40px;
    }

    .gs-logo {
        height: 200px;
        width: 200px;
        margin: 0 auto 80px;
    }

    .gs-nav ul li a {
        padding: 20px 10px;
        font-size: 18px;
    }
}

.pid-body
{
color: white;
font-family: 'Roboto', sans-serif;
font-size: 12pt;
margin: 0;
background-image: url('../Assets/poly-bg.jpg');
background-size: 100% 100%;
overflow: hidden;
}

#pid-toggle
{
z-index: 10;
font-size: 36pt;
position: fixed;
display: table;
padding: 100px 200px;
margin-left: -281.5px;
margin-top: -127.5px;
top: 50%;
left: 50%;
opacity: 0;
cursor: default;
}

*:focus
{
    outline: 0;
}

.pid-input
{
display: block;
position: absolute;
right: 10px;
}

.pid-input span
{
display: inline-table;
font-size: 10pt;
color: white;
text-transform: uppercase;
font-weight: 700;
}

.pid-input input
{
display: inline-table;
font-size: 10pt;
color: white;
background-color: transparent;
border-radius: 5px;
border: 2px solid rgba(255, 255, 255, .4);
width: 250px;
padding: 15px;
transition: border-color .5s;
-webkit-transition: border-color .5s;
}

.pid-input input:hover
{
border-color: rgba( 255, 255, 255, .8);
}

#pid-kp
{
top: 10px;
}

#pid-ki
{
top: 80px;
}

#pid-kd
{
top: 150px;
}

#pid-draggable
{
border-radius: 2px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 1%, rgba(255,255,255,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(1%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.6) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#99ffffff',GradientType=0 ); /* IE6-9 */
border: 1px solid rgba( 255, 255, 255, .4);
position: absolute;
width: 100px;
height: 100px;
margin-left: -50px;
margin-top: -50px;
top: 50%;
left: 50%;
cursor: pointer;
}

.pid-data {
    display: table;
    position: fixed;
    background-color: rgba( 0, 0, 0, .4);
    padding: 35px 25px;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.pid-data:hover
{
background-color: rgba( 0, 0, 0, .8);
}

#pid-error
{
top: 10px;
left: 10px;
}

#pid-value
{
top: 108px;
left: 10px;
}

#pid-peak
{
top: 206px;
left: 10px;
}


/*

    WebGL Canvas Styles

*/

.alert
{
    z-index: 100;
    color: #000000;
    font-size: 42px;
    font-weight: 700;
    display: table;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

canvas
{
    margin: 0;
    padding: 0;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}