body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
}

body {
    margin: 0;
}

.pid-body
{
color: white;
font-family: 'Roboto', sans-serif;
font-size: 12pt;
margin: 0;
background-image: url('http://cdn.pcwallart.com/images/dark-background-wallpaper-4.jpg');
background-size: 100% 100%;
overflow: hidden;
}

#pid-toggle
{
z-index: 10;
font-size: 36pt;
position: fixed;
display: table;
padding: 100px 200px;
margin-left: -281.5px;
margin-top: -127.5px;
top: 50%;
left: 50%;
opacity: 0;
cursor: default;
}

*:focus
{
    outline: 0;
}

.pid-input
{
display: block;
position: absolute;
right: 10px;
}

.pid-input span
{
display: inline-table;
font-size: 10pt;
color: white;
text-transform: uppercase;
font-weight: 700;
}

.pid-input input
{
display: inline-table;
font-size: 10pt;
color: white;
background-color: transparent;
border-radius: 5px;
border: 2px solid rgba(255, 255, 255, .4);
width: 250px;
padding: 15px;
transition: border-color .5s;
-webkit-transition: border-color .5s;
}

.pid-input input:hover
{
border-color: rgba( 255, 255, 255, .8);
}

#pid-kp
{
top: 10px;
}

#pid-ki
{
top: 80px;
}

#pid-kd
{
top: 150px;
}

#pid-draggable
{
border-radius: 2px;
background: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.3) 1%, rgba(255,255,255,0.6) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(1%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0.6))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.6) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 1%,rgba(255,255,255,0.6) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#99ffffff',GradientType=0 ); /* IE6-9 */
border: 1px solid rgba( 255, 255, 255, .4);
position: absolute;
width: 100px;
height: 100px;
margin-left: -50px;
margin-top: -50px;
top: 50%;
left: 50%;
cursor: pointer;
}

.pid-data {
    display: table;
    position: fixed;
    background-color: rgba( 0, 0, 0, .4);
    padding: 35px 25px;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.pid-data:hover
{
background-color: rgba( 0, 0, 0, .8);
}

#pid-error
{
top: 10px;
left: 10px;
}

#pid-value
{
top: 108px;
left: 10px;
}

#pid-peak
{
top: 206px;
left: 10px;
}
